body{
    font-family: ;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0;

}
header{
    background-color: rgb(14, 18, 46);
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
}
header h1{
    margin: 0;
    font-size: 2.5em;
}
nav ul{
    list-style: none;
    padding: 0%;
    margin: 10px 0 0;
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
}
nav ul li a {
    color: rgb(165, 123, 184);
    text-decoration: none;
    font-size: 1.2em;
}
nav ul li a:hover {
    color: rgb(174, 0, 255);
}
main{
    padding: 20px;
    text-align: center;

}

main h3 {
    color: black;
    font-size: 2em;
    margin-top: 0%;
}

main p{
    font-size: 1.2em;
}

footer {
    background-color: rgb(14, 18, 46);
    color: aliceblue;
    text-align: center;
    padding: 4px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main h1 h2 h3{
     font-family: ;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0;
}
